<div class="container">

  <h1>Saber's Blog!</h1>

  <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
      <p class="author"><%= post.author %></p>
      <p><%= post.body %></p>
      <p><%= post.all_tags %></p>

      <%= link_to 'Show', post %>
      <% if current_user && post.user == current_user %>
          |  <%= link_to 'Edit', edit_post_path(post) %> |
          <%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
  <% end %>
</div>