<div class="container">
  <p id="notice"><%= notice %></p>


  <h1><%= @post.title %></h1>

  <span>
    <%= @post.author %>
  </span>

  <span>
    <%= @post.date %>
  </span>

  <p>
    <%= @post.body %>
  </p>

  <p>
    <%= @post.all_tags %>
  </p>

  <p>
    <%= image_tag @post.image_url.to_s, :size => '300x300' %>
  </p>

  <div>
    <% if current_user && @post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Destroy', @post, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
  </div>
  <%= link_to 'Back to Posts', posts_path %>
</div>

<div class="container">
  <h2>Leave a Comment</h2>

  <%= form_for [@post, @comment], :remote => true do |f| %>
      <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% @comment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :author_name, "Name" %>
        <%= f.text_field :author_name %>
      </div>
      <div class="field">
        <%= f.label :author_email, "Email" %>
        <%= f.text_field :author_email %>
      </div>
      <div class="field">
        <%= f.label :body, "Comment" %><br>
        <%= f.text_area :body %>
      </div>
      <%= f.submit "Add comment" %>
  <% end %>
</div>


<div class="comment-container">
  <h2>Comments</h2>

  <%= render @post.comments %>
</div>
